*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: rgb(0, 0, 0);
    color:white;
    min-height:100vh;
     font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}