.movie-card{
   width: 310px;
   padding: 5px;
   border: 1px solid black;
   border-radius: 5px;
   position: relative;
   background-color: rgba(255, 255, 255, 0.801);
   color:black;
   
}
.active{
   color: red;
   
}

.favorite-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.white{
   color:white;
}
.movie-poster{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   overflow: hidden;
}
.movie-info{
   border:none;
   padding: 5px;
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: last baseline;
   justify-self: left;
}

@media (max-width: 768px){
   .movie-card{
   width: 280px;
}
}