.navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  color: white;
}

.brand {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.navbar-links {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.navbar-links:hover {
  color: gold;
}
@media (max-width: 768px) {
  .brand {
    font-size: 16px;
  }
  .nav-link {
    font-size: 16px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }
}
